# Python
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
*.egg-info/
dist/
build/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Django
staticfiles/
media/

# ML
*.joblib
