SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True
DATABASE_URL=postgres://agrimap:agrimap@localhost:5432/agrimap
CORS_ALLOWED_ORIGINS=http://localhost:4173,http://localhost:3001,http://localhost:8002
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_SETTINGS_MODULE=server_agri_map_django.settings.local
GUNICORN_WORKERS=4
